<h4>Afrian books List</h4>
<button (click)="toggleBooks()">
    <ng-container *ngIf="!isShowing">Show Books</ng-container>
    <ng-container *ngIf="isShowing">Hide Books</ng-container>
</button>
<ul *ngIf="isShowing">
    
    <ng-container *ngFor="let book of books">
        <li>
            <img  [src]="book.src" width="100px" [alt]="book.name"> {{book.name | titlecase }} by {{book.author | titlecase }}
            <p>cost: {{book.amount | currency:'SHS '}}</p>
        </li>
    </ng-container>
</ul>

